/* This is the Header section */
header {
  background-color: rgb(128, 2, 2);
  text-align: center;
}

h1 {
  color: white;
  padding: 30px;
}

body {
  background-image: url(./Assets/image5.jpg);
  background-size: 100%;
}

p {
  color: white;
  text-align: center !important;
  padding-top: 50px;
}

#submit {
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}