/* This is the Header section */
header {
  background-color: rgb(231, 148, 39);
  text-align: center;
  width: 100%;
}

h1 {
  color: white;
  padding: 30px;
}

body {
  background-image: url(./Assets/image4.jpg);
  background-color: black;
  background-size: 100%;
  background-repeat: no-repeat; 
}


p {
  color: white;
  text-align: center !important;
  padding-top: 50px;
}
.display-movie {
  color: white;
}

#logo {
  padding: 20px;
  width: 25%;
}

#submit {
  width: 10%;
}

@media screen and (min-width: 760px) {
  body {
    background-image: url(./Assets/image4.jpg);
    background-color: black;
    background-size: 100%;
    background-repeat: no-repeat; 
}
  }
}