/* This is the Header section */
header {
  background-color: rgb(236, 167, 38);
  text-align: center;
}

h1 {
  color: white;
  padding: 30px;
}

body {
  background-image: url(./Assets/image4.jpg);
  background-size: 100%;
}

p {
  color: white;
  text-align: center !important;
  padding-top: 50px;
}

#logo {
  padding: 20px;
  width: 25%;
}
#submit {
  width: 10%;
}
